$headings__fontSize: (
  h1: 1.4rem,
  h2: 1.3rem,
  h3: 1.2rem,
  h4: 1.2rem,
  h5: 1.2rem,
  h6: 1.2rem
) !default;

$headings__fontSize--bold: (
  h1: 1.6rem,
  h2: 1.5rem,
  h3: 1.4rem,
  h4: 1.4rem,
  h5: 1.4rem,
  h6: 1.4rem
) !default;

$headings__fontWeight: (
  h1: 500,
  h2: 500,
  h3: 500,
  h4: 500,
  h5: 500,
  h6: 500
) !default;

$headings__fontWeight: (
  h1: 500,
  h2: 500,
  h3: 500,
  h4: 500,
  h5: 500,
  h6: 500
) !default;